In [3]:
import urllib.request, urllib.parse, urllib.error
import bs4
import requests
import lxml
import pandas as pd

In [4]:
data = requests.get("http://stats.espncricinfo.com/ci/engine/player/28081.html?class=2;template=results;type=batting;view=innings")
data = bs4.BeautifulSoup(data.text,'lxml')

In [5]:
# Get stats for MS Dhoni

In [6]:
#url="http://stats.espncricinfo.com/ci/engine/player/28081.html?class=2;template=results;type=batting;view=innings"
#html = urllib.request.urlopen(url, context=ctx).read()

In [7]:
temp_data=OrderedDict()
list_of_dict=[]
bs=BeautifulSoup(html, "lxml")
table_body=bs.find_all('tbody')
rows = table_body[1].find_all('tr')
for row in rows:
    cols=row.find_all('td')
    cols=[x.text.strip() for x in cols]
    temp_data=OrderedDict()
    for i in range(len(cols)):
    	temp_data["Runs"]=cols[0]
    	temp_data["Mins"]=cols[1]
    	temp_data["BF"]=cols[2]
    	temp_data["4s"]=cols[3]
    	temp_data["6s"]=cols[4]
    	temp_data["SR"]=cols[5]
    	temp_data["POS"]=cols[6]
    	temp_data["Dismissal"]=cols[7]
    	temp_data["Inns"]=cols[8]
    	temp_data["Opposition"]=cols[10]
    	temp_data["Ground"]	=cols[11]
    	temp_data["Date"]=cols[12]
    list_of_dict.append(temp_data)

NameError: name 'OrderedDict' is not defined

In [8]:
df=pd.DataFrame(list_of_dict)

In [9]:
df

,Runs,Mins,BF,4s,6s,SR,POS,Dismissal,Inns,Opposition,Ground,Date
0,0,1,1,0,0,0.00,7,run out,1,v Bangladesh,Chittagong,23 Dec 2004
1,12,16,11,2,0,109.09,7,caught,2,v Bangladesh,Dhaka,26 Dec 2004
2,7*,2,2,0,1,350.00,7,not out,1,v Bangladesh,Dhaka,27 Dec 2004
3,3,8,7,0,0,42.85,7,caught,1,v Pakistan,Kochi,2 Apr 2005
4,148,155,123,15,4,120.32,3,caught,1,v Pakistan,Visakhapatnam,5 Apr 2005
5,28,36,24,5,0,116.66,3,caught,2,v Pakistan,Jamshedpur,9 Apr 2005
6,47,90,64,4,1,73.43,3,caught,1,v Pakistan,Ahmedabad,12 Apr 2005
7,11,20,16,1,0,68.75,3,caught,1,v Pakistan,Kanpur,15 Apr 2005
8,24,71,38,2,0,63.15,3,caught,2,v Pakistan,Delhi,17 Apr 2005
9,2,17,7,0,0,28.57,2,bowled,1,v Sri Lanka,Dambulla,30 Jul 2005
10,15*,22,11,1,1,136.36,6,not out,2,v West Indies,Dambulla,31 Jul 2005
11,20,35,27,1,0,74.07,4,caught,1,v Sri Lanka,Dambulla,3 Aug 2005
12,28*,17,13,1,2,215.38,7,not out,1,v West Indies,Colombo (RPS),7 Aug 2005
13,7,11,11,0,0,63.63,6,lbw,2,v Sri Lanka,Colombo (RPS),9 Aug 2005
14,2,13,5,0,0,40.00,7,caught,2,v New Zealand,Bulawayo,26 Aug 2005
15,56,-,46,2,4,121.73,6,caught,1,v Zimbabwe,Harare,29 Aug 2005
16,37*,-,27,3,2,137.03,6,not out,2,v New Zealand,Harare,2 Sep 2005
17,67*,90,63,1,3,106.34,7,not out,2,v Zimbabwe,Harare,4 Sep 2005
18,11,26,16,1,0,68.75,7,lbw,1,v New Zealand,Harare,6 Sep 2005
19,38,33,28,3,2,135.71,6,caught,1,v Sri Lanka,Nagpur,25 Oct 2005
20,DNB,-,-,-,-,-,-,-,2,v Sri Lanka,Mohali,28 Oct 2005
21,183*,210,145,15,10,126.20,3,not out,2,v Sri Lanka,Jaipur,31 Oct 2005
22,45*,65,43,1,2,104.65,6,not out,2,v Sri Lanka,Pune,3 Nov 2005
23,0,1,1,0,0,0.00,3,lbw,1,v Sri Lanka,Ahmedabad,6 Nov 2005
24,DNB,-,-,-,-,-,-,-,2,v Sri Lanka,Rajkot,9 Nov 2005
25,80,106,73,9,3,109.58,4,caught,2,v Sri Lanka,Vadodara,12 Nov 2005
26,17,39,28,1,0,60.71,8,run out,1,v South Africa,Hyderabad (Deccan),16 Nov 2005
27,DNB,-,-,-,-,-,-,-,2,v South Africa,Bengaluru,19 Nov 2005
28,14,41,26,0,0,53.84,8,caught,1,v South Africa,Kolkata,25 Nov 2005
29,12,37,26,1,0,46.15,6,caught,2,v South Africa,Mumbai,28 Nov 2005
...,...,...,...,...,...,...,...,...,...,...,...,...
288,DNB,-,-,-,-,-,-,-,2,v South Africa,The Oval,11 Jun 2017
289,DNB,-,-,-,-,-,-,-,2,v Bangladesh,Birmingham,15 Jun 2017
290,4,23,16,0,0,25.00,5,caught,2,v Pakistan,The Oval,18 Jun 2017
291,9*,-,9,1,0,100.00,5,not out,1,v West Indies,Port of Spain,23 Jun 2017
292,13*,-,13,1,0,100.00,6,not out,1,v West Indies,Port of Spain,25 Jun 2017
293,78*,-,79,4,2,98.73,5,not out,1,v West Indies,North Sound,30 Jun 2017
294,54,-,114,1,0,47.36,5,caught,2,v West Indies,North Sound,2 Jul 2017
295,DNB,-,-,-,-,-,-,-,2,v West Indies,Kingston,6 Jul 2017
296,DNB,-,-,-,-,-,-,-,2,v Sri Lanka,Dambulla,20 Aug 2017
297,45*,-,68,1,0,66.17,6,not out,2,v Sri Lanka,Pallekele,24 Aug 2017
298,67*,-,86,4,1,77.90,6,not out,2,v Sri Lanka,Pallekele,27 Aug 2017
299,49*,-,42,5,1,116.66,7,not out,1,v Sri Lanka,Colombo (RPS),31 Aug 2017
300,1*,-,1,0,0,100.00,6,not out,2,v Sri Lanka,Colombo (RPS),3 Sep 2017
301,79,152,88,4,2,89.77,6,caught,1,v Australia,Chennai,17 Sep 2017
302,5,19,10,1,0,50.00,6,caught,1,v Australia,Kolkata,21 Sep 2017
303,3*,9,6,0,0,50.00,7,not out,2,v Australia,Indore,24 Sep 2017
304,13,12,10,1,1,130.00,7,bowled,2,v Australia,Bengaluru,28 Sep 2017
305,DNB,-,-,-,-,-,-,-,2,v Australia,Nagpur,1 Oct 2017
306,25,54,42,2,0,59.52,6,caught,1,v New Zealand,Mumbai,22 Oct 2017
307,18*,22,21,3,0,85.71,6,not out,2,v New Zealand,Pune,25 Oct 2017
308,25,29,17,3,0,147.05,5,caught,1,v New Zealand,Kanpur,29 Oct 2017
309,65,129,87,10,2,74.71,6,caught,1,v Sri Lanka,Dharamsala,10 Dec 2017
310,7,11,5,0,1,140.00,4,lbw,1,v Sri Lanka,Mohali,13 Dec 2017
311,DNB,-,-,-,-,-,-,-,2,v Sri Lanka,Visakhapatnam,17 Dec 2017
312,4*,5,3,1,0,133.33,6,not out,2,v South Africa,Durban,1 Feb 2018
313,DNB,-,-,-,-,-,-,-,2,v South Africa,Centurion,4 Feb 2018
314,10,38,22,0,0,45.45,6,caught,1,v South Africa,Cape Town,7 Feb 2018
315,42*,66,43,3,1,97.67,6,not out,1,v South Africa,Johannesburg,10 Feb 2018
316,13,28,17,1,0,76.47,7,caught,1,v South Africa,Port Elizabeth,13 Feb 2018
317,DNB,-,-,-,-,-,-,-,2,v South Africa,Centurion,16 Feb 2018